.skinMe.radio.activated input[type="radio"] {
  display: none;
}
.skinMe.checkbox.activated input[type="checkbox"] {
  display: none;
}
.skinMe.select.activated select {
  filter: alpha(opacity=1);
  -khtml-opacity: 0.01;
  -moz-opacity: 0.01;
  opacity: 0.01;
}
form.skinMe .radio.demo {
  cursor: pointer;
  width: 23px;
  height: 23px;
  background-position: 0 0;
  background-image: url("radio-test2.png");
}
form.skinMe .radio.demo.error {
  background-image: url("radio-test2-error.png");
}
form.skinMe .radio.demo.hover {
  background-position: 0 -23px;
}
form.skinMe .radio.demo.active {
  background-position: 0 -46px;
}
form.skinMe .radio.demo.active.hover {
  background-position: 0 -69px;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  form.skinMe .radio.demo {
    background-image: url("radio-test_x2.png");
    background-size: 100% auto;
  }
  form.skinMe .radio.demo.error {
    background-image: url("radio-test-error_x2.png");
  }
}
form.skinMe .radio.demo2 {
  cursor: pointer;
  width: 23px;
  height: 23px;
  background-position: 0 0;
  background-image: url("radio-test3-2x.png");
  background-size: 100% auto;
}
form.skinMe .radio.demo2.error {
  background-image: url("radio-test-error_x2.png");
}
form.skinMe .radio.demo2.active {
  background-position: 0 -23px;
}
form.skinMe .checkbox.demo {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-position: 0 0;
  background-image: url("checkbox.png");
}
form.skinMe .checkbox.demo.error {
  background-image: url("");
}
form.skinMe .checkbox.demo.active {
  background-position: 0 -22px;
}
form.skinMe .skinme-select-ctn {
  position: relative;
  display: inline-block;
}
form.skinMe .skinme-select-ctn .select.default {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
form.skinMe .skinme-select-ctn .select.default .skinme-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  filter: alpha(opacity=1);
  -khtml-opacity: 0.01;
  -moz-opacity: 0.01;
  opacity: 0.01;
}
form.skinMe .skinme-select-ctn .select.default .active-choice {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
form.skinMe .skinme-select-ctn .select.default .skinme-select-choices {
  position: absolute;
  width: 100%;
  display: none;
}
form.skinMe .skinme-select-ctn .select.default .skinme-select-choices.open {
  display: block;
}
form.skinMe .skinme-select-ctn .select.default.no-default .skinme-select-choices .choice:first-child {
  display: none;
}
form.skinMe .skinme-select-ctn select {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
form.skinMe .skinme-select-ctn select.native {
  z-index: 10;
}
