.skinMe .skinme-select-ctn .select.default {
  background: black;
  display: block;
  color: #ffffff;
  height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.skinMe .skinme-select-ctn .select.default .toggler {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 100%;
  background-image: url("arrow-down-button.png");
  background-size: 9px 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.skinMe .skinme-select-ctn .select.default .active-choice {
  padding-right: 17px;
}
.skinMe .skinme-select-ctn .select.default .skinme-select-choices {
  top: 100%;
  background-color: green;
}
.skinMe .skinme-select-ctn .select.default:hover .toggler {
  background-color: grey;
}
.skinMe .skinme-select-ctn select {
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 17px;
}
