.skinMe.radio.activated input[type="radio"] {
  display: none;
}
.skinMe.checkbox.activated input[type="checkbox"] {
  display: none;
}
.skinMe.select.activated select {
  filter: alpha(opacity=1);
  -khtml-opacity: 0.01;
  -moz-opacity: 0.01;
  opacity: 0.01;
}
