//@import "app.config";
//@import "app.mixins";
//@import "app.easing";


//Use file to create custom styles but keep default select styles

form.skinMe .skinme-select-ctn {
	.select.demo {
		background: #ffffff;
		color: #333333;
		border-color: #d3d8d8;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		.toggler {}

		.skinme-mask {}

		.active-choice {
			font-size: 14px;
			line-height: 48px;
		}

		.skinme-select-choices {
			background-color: #ffffff;
			border-color: #ececec;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			&.open {}

			.choice {
				font-size: 14px;

				&.selected, &:hover{
					color: #333333;
					background-color: #d3d8d8;
				}
			}
		}

		&:hover {
			background-color: #d3d8d8;
		}
	}

	select {
		border:none;
		padding:0;
		margin:0;
		padding-right:17px;
	}
}

